{
    "extends": "airbnb",
    "env": {
      "node": true,
      "browser": true
    },
    "rules": {
      "import/extensions": [ "error", "always", {"ignorePackges": true} ],
      "react/prop-types": "off",
      "linebreak-style": ["error", "windows"]
    }
  }
